<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>予約完了</title>
</head>
<body>
    <div class="container bg-white py-3 col-md-6">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-6">
                <h1 class="h3 text-center bg-primary mt-3 text-white p-3 rounded">予約完了</h1>
                <p>予約が完了しました。</p>
                <a href="/" class="btn btn-primary">ホームに戻る</a>
            </div>
        </div>
    </div>
</body>
</html>